@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inclusive Sans', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #F50087;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    color:#F50087;
    font-size: 18px;
}


/* MENU BIBLIOTECA */
.menu {
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: ' ';
    width: 100%;
    height: 4px;
    background: #F50087;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #F50087;
}

.menu .text-menu-selected{
    color: #F50087;
}

/* MENU PRINCIPAL */
.menu-principal {
    height: 80px;
}

.menu-principal nav{
    height: 100%;
}

.menu-principal nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu-principal nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-principal-selected:before{
    content: ' ';
    width: 100%;
    height: 4px;
    background: #F50087;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-principal nav ul li a{
    color: #777;
    font-size: 18px;
    transition: color 300ms;
}

.menu-principal nav ul li a:hover{
    color: #F50087;
}

.menu-principal .text-menu-selected{
    color: #F50087;
}

/* PORTADA */

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    top: 80px;
    background-image: url(../img/portada_biblioteca.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 80px;
    z-index: 0;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    opacity: 65%;
    background: #f8a5f9;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 80px;
    font-weight: 500;
    color:mediumblue;
    margin-bottom: 20px;
}

.container-info-cover p{
     color: midnightblue;
     font-size: 30px;
     font-weight: 300;
}

.container-lista {
    margin-top: 20px;
    max-width: 80%; /* Puedes ajustar esto según sea necesario */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
    

/* PIE DE PÄGINA */

.footer {
    background-color: #333; 
    color: #fff;
    border-top: 20px; 
    padding: 20px; 
    padding-top: 20px;
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
}






